<div  class="container-fluid text-center">
    <h2>SERVICIOS</h2>
    <h4>Nuestros Servicios</h4>
    <br>
    <div class="row">
        <div class="col-sm-4">
            <span class="fas fa-wifi" style="font-size:50px;color:#f4511e"></span>
            <h4>Wifi</h4>
            <p class="text-justify">Conectividad inalambrica estable y segura en todo el establecimiento...</p>
        </div>
        <div class="col-sm-4">
            <span class="fas fa-swimming-pool" style="font-size:50px;color:#f4511e"></span>
            <h4>Piscina</h4>
            <p class="text-justify">Contamos con bicicletas disponibles para rentar a nuestros huespedes, una muy buena opcion para recorrer esta hermosa ciudad...</p>
        </div>
        <div class="col-sm-4">
            <span class="fa fa-taxi fa-4x logo-small"></span>
            <h4>Taxi Seguro</h4>
            <p class="text-justify">Contamos con el servicio de taxis <strong>(costo adicional)</strong> para traslados locales, tours o llevarlos a donde gusten, siempre con seguridad y comodidad...</p>
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-sm-4">
            <span class="material-icons" style="font-size:50px;color:#f4511e; margin-right: 5px;">local_hotel</span>
            <h4>Variedad de Habitaciones</h4>
            <p class="text-justify">Aceptamos tarjetas de credito, Paypal, efectivo, desposito o transferencia para el pago del hospedaje o reservaciones...</p>
        </div>
        <div class="col-sm-4">
            <span class="material-icons" style="font-size:50px;color:#f4511e">kitchen</span>
            <h4>Cocina en Habitaciones</h4>
            <p class="text-justify">Contamos con habitaciones totalmente equipadas con cocina y todo lo necesario para su uso, asi como una cocina totalmente equipada disponible para todos los huespedes...</p>
        </div>
        <div class="col-sm-4">
            <span class="material-icons" style="font-size:50px;color:#f4511e">smoke_free</span>
            <h4>Ambiente Libre de Humo</h4>
            <p class="text-justify">Contamos con un ambiente totalmente libre de humo en todo el hotel...</p>
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-sm-4">
            <span class="fab fa-cc-visa" style="font-size:50px;color:#f4511e; margin-right: 5px;"></span>
            <span class="fab fa-cc-mastercard" style="font-size:50px;color:#f4511e"></span>
            <span class="fab fa-cc-paypal" style="font-size:50px;color:#f4511e; margin-left: 5px;"></span>
            <h4>Diferentes formas de pago</h4>
            <p class="text-justify">Aceptamos tarjetas de credito, Paypal, efectivo, desposito o transferencia para el pago del hospedaje o reservaciones...</p>
        </div>
        <div class="col-sm-4">
            <span class="fas fa-snowflake" style="font-size:50px;color:#f4511e"></span>
            <h4>Aire Acondicionado</h4>
            <p class="text-justify">Contamos con habitaciones totalmente equipadas con cocina y todo lo necesario para su uso, asi como una cocina totalmente equipada disponible para todos los huespedes...</p>
        </div>
        <div class="col-sm-4">
            <span class="fas fa-umbrella-beach" style="font-size:50px;color:#f4511e"></span>
            <h4>Cerca de la Playa</h4>
            <p class="text-justify">Contamos con un ambiente totalmente libre de humo en todo el hotel...</p>
        </div>
    </div>
</div>