<div  class="container-fluid text-center">
    <h2>SERVICIOS</h2>
    <h4>Nuestros Servicios</h4>
    <br>
    <div class="row">
        <div class="col-sm-4">
            <span class="material-icons" style="font-size:50px;color:#f4511e">signal_wifi_4_bar</span>
            <h4>WIFI</h4>
            <p>Conectividad inalambrica estable y segura en todo el establecimiento...</p>
        </div>
        <div class="col-sm-4">
            <span class="fa fa-bicycle fa-4x logo-small "></span>
            <h4>BICICLETAS</h4>
            <p>Contamos con bicicletas disponibles para rentar a nuestros huespedes, una muy buena opcion para recorrer esta hermosa ciudad...</p>
        </div>
        <div class="col-sm-4">
            <span class="fa fa-taxi fa-4x logo-small"></span>
            <h4>Taxi Seguro</h4>
            <p>Contamos con el servicio de taxis <strong>(costo adicional)</strong> para traslados locales, tours o llevarlos a donde gusten, siempre con seguridad y comodidad...</p>
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-sm-4">
            <span class="fa fa-cc-visa fa-3x logo-small"></span>
            <span class="fa fa-cc-mastercard fa-3x logo-small"></span>
            <span class="fa fa-cc-paypal fa-3x logo-small"></span>
            <h4>DIFERENTES FORMAS DE PAGO</h4>
            <p>Aceptamos tarjetas de credito, Paypal, efectivo, desposito o transferencia para el pago del hospedaje o reservaciones...</p>
        </div>
        <div class="col-sm-4">
            <span class="material-icons" style="font-size:50px;color:#f4511e">kitchen</span>
            <h4>HABITACIONES EQUIPADAS CONCINA</h4>
            <p>Contamos con habitaciones totalmente equipadas con cocina y todo lo necesario para su uso, asi como una cocina totalmente equipada disponible para todos los huespedes...</p>
        </div>
        <div class="col-sm-4">
            <span class="material-icons" style="font-size:50px;color:#f4511e">smoke_free</span>
            <h4 style="color:#303030;">AMBIENTE LIBRE DE HUMO</h4>
            <p>Contamos con un ambiente totalmente libre de humo en todo el hotel...</p>
        </div>
    </div>
</div>