<h1 class="display-3 m-4 text-center animated fadeIn"><strong>Galeria</strong></h1>
<div class="row">
  <div class="col col-sm-6 text-center">
    <h1 class="display-6  text-center animated fadeIn"><strong>Intalaciones</strong></h1>
    <a [routerLink]="['/facilitiesGallery']">
        <img [src]="facilityImage" class="rounded " width="90%" height="80%">
    </a>
  </div>
  <div class="col col-sm-6 text-center">
    <h1 class="display-6 text-center animated fadeIn"><strong>Habitaciones</strong></h1>
    <a [routerLink]="['/roomsGallery']">
        <img [src]="roomImage" class="rounded" width="90%" height="80%">
    </a>
  </div>
</div>
  
  




