<h1 class="display-3 m-2 text-center animated fadeIn"><strong>Galeria</strong></h1>
<div class="row">
    <div class="col text-center">
        <h1 class="display-6 m-1 text-center animated fadeIn"><strong>Nuestras Intalaciones</strong></h1>
        <a [routerLink]="['/facilitiesGallery']">
            <img [src]="facilityImage" class="rounded" width="70%" height="70%">
        </a>
    </div>
    <div class="col text-center">
        <h1 class="display-6 m-1 text-center animated fadeIn"><strong>Nuestras Habitaciones</strong></h1>
        <a [routerLink]="['/roomsGallery']">
            <img [src]="roomImage" class="rounded" width="70%" height="70%">
        </a>
    </div>
</div>