<div class="row">

    <div class="col">
        <h1 class="display-3 font-weight-bold text-center text-custom-color-title animated fadeIn">Maria's Nicte-Ha</h1>
        <p class=" lead text-center text-custom-color-content animated fadeIn">El mejor lugar para hospedarse en Progreso, Yucatán...</p>
    </div>

</div>

<div class="row ">
    <div class="col-sm-6 animated fadeIn ">
        <img src="../../../assets/img/home/ExteriorHotel.jpg " alt="Hotel Exterior " class="img-thumbnail ">
    </div>
    <div class="col-sm-6 animated fadeIn fast ">
        <h1 class="display-4 text-custom-color-title font-weight-bold ">Sobre el Hotel...</h1>
        <p class="text-custom-color-content">Maria's Nicte-Ha es un pequeño hotel ubicado en la ciudad de Progreso de Castro, nos encontramos a una calle de la playa y del recien remodelado Malecon Internacional.</p>
        <p class="text-custom-color-content">El hotel cuenta con un ambiente 100% familiar, actualmente contamos con 11 habitaciones las cuales tienen una capacidad de 1 a 4 personas maximo y la 'Casita Nicte-Ha' la cual tiene vista a la piscina y una capacidad de 1 a 6 personas maximo.</p>
        <p class="text-custom-color-content">El hotel es muy acogedor tratamos siempre de que los huespedes se sientan como en su casa y se sientan a gusto disfrutando de todas nuestras intalaciones ya sea que vengan de paseo o por trabajo.</p>
    </div>
</div>
<hr>

<div class="row img-top-space animated fadeIn ">
    <div class="col-sm-12 ">
        <h1 class="display-3 text-center text-custom-color-title font-weight-bold ">Puerto Porgreso, Yucatán</h1>
    </div>
    <div class="col-sm-4 ">
        <img src="../../../assets/img/home/MuelleProgreso.jpg " alt="Muelle Progreso " class="img-thumbnail ">
    </div>
    <div class="col-sm-4 ">
        <img src="../../../assets/img/home/ProgresoPlaya.jpg " alt="Playa Progreso " class="img-thumbnail ">
    </div>
    <div class="col-sm-4 ">
        <img src="../../../assets/img/home/CruceroProgreso.jpg " alt="Crucero Progreso " class="img-thumbnail ">
    </div>
</div>

<div class="row text-top-space animated fadeIn fast ">
    <div class="col-sm-12 ">
        <p class="text-custom-color-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid inventore maiores ad aspernatur omnis molestiae qui esse! Possimus, nam optio neque magnam, quidem maiores blanditiis architecto suscipit quibusdam atque natus!</p>
        <p class="text-custom-color-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid inventore maiores ad aspernatur omnis molestiae qui esse! Possimus, nam optio neque magnam, quidem maiores blanditiis architecto suscipit quibusdam atque natus!</p>
    </div>
</div>

<div class="row animated fadeIn ">
    <div class="col-sm-12 text-center ">
        <img src="../../../assets/img/home/ProgresoLetras.jpg " alt="Hotel Exterior " class="img-thumbnail ">
    </div>
</div>
<hr>

<div class="row img-top-space animated fadeIn ">
    <div class="col-sm-12 ">
        <h1 class="display-3 text-center text-custom-color-title font-weight-bold ">Yucatán</h1>
    </div>
    <div class="col-sm-4 ">
        <img src="../../../assets/img/home/Celestun.jpg " alt="Laguna Rosada " class="img-thumbnail ">
    </div>
    <div class="col-sm-4 ">
        <img src="../../../assets/img/home/LagunaRosada.jpg " alt="Chichen Itza " class="img-thumbnail ">
    </div>
    <div class="col-sm-4 ">
        <img src="../../../assets/img/home/Cenote.jpg " alt="Crucero Progreso " class="img-thumbnail ">
    </div>
</div>

<div class="row text-top-space animated fadeIn fast ">
    <div class="col-sm-12 ">
        <p class="text-custom-color-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid inventore maiores ad aspernatur omnis molestiae qui esse! Possimus, nam optio neque magnam, quidem maiores blanditiis architecto suscipit quibusdam atque natus!</p>
        <p class="text-custom-color-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid inventore maiores ad aspernatur omnis molestiae qui esse! Possimus, nam optio neque magnam, quidem maiores blanditiis architecto suscipit quibusdam atque natus!</p>
    </div>
</div>

<div class="row animated fadeIn ">
    <div class="col-sm-12 text-center ">
        <img src="../../../assets/img/home/ChichenItza.jpg " alt="Hotel Exterior " class="img-thumbnail ">
    </div>
</div>