<div class="jumbotron jumbotron-fluid ">
  <div class="container">
    <h1 class="display-4 text-center">Maria's Nicte-Ha</h1>
    <p class="lead text-center">El mejor lugar para hospedarse en Progreso, Yucatan...</p>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <img src="../../../assets/img/home/ExteriorHotel.jpg" alt="Hotel Exterior" class="img-thumbnail">
  </div>
  <div class="col-sm-6">
    <h1 class="display-4">Title Text</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid inventore maiores ad aspernatur omnis molestiae qui esse! 
      Possimus, nam optio neque magnam, quidem maiores blanditiis architecto suscipit quibusdam atque natus!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid inventore maiores ad aspernatur omnis molestiae qui esse! 
      Possimus, nam optio neque magnam, quidem maiores blanditiis architecto suscipit quibusdam atque natus!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid inventore maiores ad aspernatur omnis molestiae qui esse! 
      Possimus, nam optio neque magnam, quidem maiores blanditiis architecto suscipit quibusdam atque natus!</p>
  </div>
</div>
<hr>

<div class="row img-top-space">
  <div class="col-sm-12">
      <h1 class="display-4 text-center">Title Text</h1>
  </div>
  <div class="col-sm-4">
    <img src="../../../assets/img/home/MuelleProgreso.jpg" alt="Muelle Progreso"   class="img-thumbnail">
 </div>
 <div class="col-sm-4">
    <img src="../../../assets/img/home/ProgresoPlaya.jpg" alt="Playa Progreso" class="img-thumbnail">
 </div>
  <div class="col-sm-4">
    <img src="../../../assets/img/home/CruceroProgreso.jpg" alt="Crucero Progreso"  class="img-thumbnail">
  </div>
</div>

<div class="row text-top-space">
  <div class="col-sm-12">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid inventore maiores ad aspernatur omnis molestiae qui esse! 
      Possimus, nam optio neque magnam, quidem maiores blanditiis architecto suscipit quibusdam atque natus!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid inventore maiores ad aspernatur omnis molestiae qui esse! 
        Possimus, nam optio neque magnam, quidem maiores blanditiis architecto suscipit quibusdam atque natus!</p>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 text-center">
    <img src="../../../assets/img/home/ProgresoLetras.jpg" alt="Hotel Exterior"  class="img-thumbnail">
  </div>
</div>
<hr>

<div class="row img-top-space">
    <div class="col-sm-12">
        <h1 class="display-4 text-center">Title Text</h1>
    </div>
    <div class="col-sm-4">
      <img src="../../../assets/img/home/Celestun.jpg" alt="Laguna Rosada"   class="img-thumbnail">
   </div>
   <div class="col-sm-4">
      <img src="../../../assets/img/home/LagunaRosada.jpg" alt="Chichen Itza" class="img-thumbnail">
   </div>
    <div class="col-sm-4">
      <img src="../../../assets/img/home/Cenote.jpg" alt="Crucero Progreso"  class="img-thumbnail">
    </div>
  </div>
  
  <div class="row text-top-space">
    <div class="col-sm-12">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid inventore maiores ad aspernatur omnis molestiae qui esse! 
        Possimus, nam optio neque magnam, quidem maiores blanditiis architecto suscipit quibusdam atque natus!</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid inventore maiores ad aspernatur omnis molestiae qui esse! 
          Possimus, nam optio neque magnam, quidem maiores blanditiis architecto suscipit quibusdam atque natus!</p>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-12 text-center">
      <img src="../../../assets/img/home/ChichenItza.jpg" alt="Hotel Exterior"  class="img-thumbnail">
    </div>
  </div>




