<h1 class="display-5 m-2 text-center animated fadeIn"><strong>Nuestras Habitaciones</strong></h1>
<div class="row justify-content-md-center">
  <div class="col col-sm-8 ">
      <ngb-carousel *ngIf="rooms">
          <ng-template ngbSlide *ngFor="let room of rooms; let i = index">
            <img class="img-thumbnail text-center"  width="100%" height="80%" [src]="room.img" [alt]="room.name">
            <div class="carousel-caption">
              <h3> {{ room.name }} </h3>
              <p> &quot;{{ room.description }}&quot; </p>
            </div>
          </ng-template>
        </ngb-carousel>
  </div>
</div>
