<div *ngFor="let room of roomType">

    <div class="card mb-3" style="max-width: 100%;">

        <div class="row no-gutters">

            <div class="col-md-6">
                <img [src]="room.image" class="card-img" alt="...">
            </div>

            <div class="col-md-6">

                <div class="card-body">
                    <h2 class="card-titl text-custom-color-title text-center"> {{ room.name }} <span class="badge badge-success">{{ room.price | currency }}</span> </h2>
                    <p class="card-text text-custom-color-content text-justify"> {{ room.description }} </p>
                    <p class="card-text "><small class="text-muted ">* Los precios de las habitaciones son por noche y para 2 personas, el costo de la persona adicional es de $150.00 hasta un maximo de {{ room.maxPax }}</small></p>
                </div>

                <div class="card-body">
                    <button [routerLink]="['/contact']" type="button " class="btn btn-outline-info btn-block ">
                    Mas informacion...
                  </button>
                </div>

            </div>

        </div>

    </div>

</div>