<div class="row m-5">
  <div *ngFor="let room of roomType; let i = index" class="col-sm-6">
    <div class="card animated fadeIn">
          <img [src]="room.image" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title text-center"> {{ room.name }} </h5>
        <ul class="list-group">
          <li class="list-group-item">Precio por noche (2 paxs): <strong>{{ room.price | currency }}</strong> </li>
          <li class="list-group-item">*Maximo de personas: <strong>{{ room.maxPax }}</strong> </li>
          <li class="list-group-item">Numero de camas: <strong>{{ room.bedNumber }}</strong> </li>
          <li class="list-group-item">*Persona Adicional: <strong>$150.00</strong> </li>
        </ul>
        <button (click)="seeRoom(i);" type="button" class="btn btn-outline-info btn-block">
          Mas informacion...
        </button>
      </div>
      <div class="card-footer">
        <small class="text-muted">
          * Los precios de las habitaciones son por noche y para 2 personas, pueden entrar peronas adicionales hasta un cubir el
          maximo de personas permitidas por habitacion y pagando el precio adicional por persona. Niños menores de 10 años no pagan.   
        </small>
      </div>
    </div>
  </div>
